# Get subway station data and conpute distances to Citibike Stations

In [ ]:
import pandas as pd

In [2]:
#location of subway station data
url = "http://web.mta.info/developers/data/nyct/subway/Stations.csv"

In [3]:
#store subway station data
station_data = pd.read_csv(url)
station_data.head(5)

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN

In [4]:
#access citibike data
filepath = "resources/full-data.csv"
bike_data = pd.read_csv(filepath)
bike_data.head(5)

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [5]:
#create list of citibike stations
bike_stations = bike_data.drop_duplicates(subset="start station id")
bike_stations.head(5)

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [6]:
#create dataframe of just citibike station id and coordinates
bike_stations_cleaned = bike_stations[["start station id","start station latitude","start station longitude"]]
bike_stations_cleaned.head(5)

   start station id  start station latitude  start station longitude
0            3160.0               40.778968               -73.973747
1             519.0               40.751873               -73.977706
2            3171.0               40.785247               -73.976673
3             504.0               40.732219               -73.981656
4             229.0               40.727434               -73.993790

In [7]:
#import geopy distance function to determine distances based on lat/lon
from geopy import distance

In [8]:
#for each citibike station, loop through all subway stations and determine the distance between the two.
#append that distance to a list, then find the min value to determine the distance to the clostest subway
#append that value to a list
distance_to_subway = []
for x in range(len(bike_stations_cleaned)):
    bike_lat = bike_stations_cleaned.iloc[x,1]
    bike_lon = bike_stations_cleaned.iloc[x,2]
    bike_coord = (bike_lat, bike_lon)
    subway_distances = []
    for y in range(len(station_data)):
        subway_lat = station_data.iloc[y,9]
        subway_lon = station_data.iloc[y,10]
        subway_coord = (subway_lat, subway_lon)
        station_distance = (distance.distance(bike_coord, subway_coord).feet)
        subway_distances.append(station_distance)
    distance_to_subway.append(min(subway_distances))
    print(f"{x+1} of {len(bike_stations_cleaned)}")

1 of 1236
2 of 1236
3 of 1236
4 of 1236
5 of 1236
6 of 1236
7 of 1236
8 of 1236
9 of 1236
10 of 1236
11 of 1236
12 of 1236
13 of 1236
14 of 1236
15 of 1236
16 of 1236
17 of 1236
18 of 1236
19 of 1236
20 of 1236
21 of 1236
22 of 1236
23 of 1236
24 of 1236
25 of 1236
26 of 1236
27 of 1236
28 of 1236
29 of 1236
30 of 1236
31 of 1236
32 of 1236
33 of 1236
34 of 1236
35 of 1236
36 of 1236
37 of 1236
38 of 1236
39 of 1236
40 of 1236
41 of 1236
42 of 1236
43 of 1236
44 of 1236
45 of 1236
46 of 1236
47 of 1236
48 of 1236
49 of 1236
50 of 1236
51 of 1236
52 of 1236
53 of 1236
54 of 1236
55 of 1236
56 of 1236
57 of 1236
58 of 1236
59 of 1236
60 of 1236
61 of 1236
62 of 1236
63 of 1236
64 of 1236
65 of 1236
66 of 1236
67 of 1236
68 of 1236
69 of 1236
70 of 1236
71 of 1236
72 of 1236
73 of 1236
74 of 1236
75 of 1236
76 of 1236
77 of 1236
78 of 1236
79 of 1236
80 of 1236
81 of 1236
82 of 1236
83 of 1236
84 of 1236
85 of 1236
86 of 1236
87 of 1236
88 of 1236
89 of 1236
90 of 1236
91 of 1236
92 of 1236
93 of 1236
94 of 1236
95 of 1236
96 of 1236
97 of 1236
98 of 1236
99 of 1236
100 of 1236
101 of 1236
102 of 1236
103 of 1236
104 of 1236
105 of 1236
106 of 1236
107 of 1236
108 of 1236
109 of 1236
110 of 1236
111 of 1236
112 of 1236
113 of 1236
114 of 1236
115 of 1236
116 of 1236
117 of 1236
118 of 1236
119 of 1236
120 of 1236
121 of 1236
122 of 1236
123 of 1236
124 of 1236
125 of 1236
126 of 1236
127 of 1236
128 of 1236
129 of 1236
130 of 1236
131 of 1236
132 of 1236
133 of 1236
134 of 1236
135 of 1236
136 of 1236
137 of 1236
138 of 1236
139 of 1236
140 of 1236
141 of 1236
142 of 1236
143 of 1236
144 of 1236
145 of 1236
146 of 1236
147 of 1236
148 of 1236
149 of 1236
150 of 1236
151 of 1236
152 of 1236
153 of 1236
154 of 1236
155 of 1236
156 of 1236
157 of 1236
158 of 1236
159 of 1236
160 of 1236
161 of 1236
162 of 1236
163 of 1236
164 of 1236
165 of 1236
166 of 1236
167 of 1236
168 of 1236
169 of 1236
170 of 1236
171 of 1236
172 of 1236
173 of 1236
174 of 1236
175 of 1236
176 of 1236
177 of 1236
178 of 1236
179 of 1236
180 of 1236
181 of 1236
182 of 1236
183 of 1236
184 of 1236
185 of 1236
186 of 1236
187 of 1236
188 of 1236
189 of 1236
190 of 1236
191 of 1236
192 of 1236
193 of 1236
194 of 1236
195 of 1236
196 of 1236
197 of 1236
198 of 1236
199 of 1236
200 of 1236
201 of 1236
202 of 1236
203 of 1236
204 of 1236
205 of 1236
206 of 1236
207 of 1236
208 of 1236
209 of 1236
210 of 1236
211 of 1236
212 of 1236
213 of 1236
214 of 1236
215 of 1236
216 of 1236
217 of 1236
218 of 1236
219 of 1236
220 of 1236
221 of 1236
222 of 1236
223 of 1236
224 of 1236
225 of 1236
226 of 1236
227 of 1236
228 of 1236
229 of 1236
230 of 1236
231 of 1236
232 of 1236
233 of 1236
234 of 1236
235 of 1236
236 of 1236
237 of 1236
238 of 1236
239 of 1236
240 of 1236
241 of 1236
242 of 1236
243 of 1236
244 of 1236
245 of 1236
246 of 1236
247 of 1236
248 of 1236
249 of 1236
250 of 1236
251 of 1236
252 of 1236
253 of 1236
254 of 1236
255 of 1236
256 of 1236
257 of 1236
258 of 1236
259 of 1236
260 of 1236
261 of 1236
262 of 1236
263 of 1236
264 of 1236
265 of 1236
266 of 1236
267 of 1236
268 of 1236
269 of 1236
270 of 1236
271 of 1236
272 of 1236
273 of 1236
274 of 1236
275 of 1236
276 of 1236
277 of 1236
278 of 1236
279 of 1236
280 of 1236
281 of 1236
282 of 1236
283 of 1236
284 of 1236
285 of 1236
286 of 1236
287 of 1236
288 of 1236
289 of 1236
290 of 1236
291 of 1236
292 of 1236
293 of 1236
294 of 1236
295 of 1236
296 of 1236
297 of 1236
298 of 1236
299 of 1236
300 of 1236
301 of 1236
302 of 1236
303 of 1236
304 of 1236
305 of 1236
306 of 1236
307 of 1236
308 of 1236
309 of 1236
310 of 1236
311 of 1236
312 of 1236
313 of 1236
314 of 1236
315 of 1236
316 of 1236
317 of 1236
318 of 1236
319 of 1236
320 of 1236
321 of 1236
322 of 1236
323 of 1236
324 of 1236
325 of 1236
326 of 1236
327 of 1236
328 of 1236
329 of 1236
330 of 1236
331 of 1236
332 of 1236
333 of 1236
334 of 1236
335 of 1236
336 of 1236
337 of 1236
338 of 1236
339 of 1236
340 of 1236
341 of 1236
342 of 1236
343 of 1236
344 of 1236
345 of 1236
346 of 1236
347 of 1236
348 of 1236
349 of 1236
350 of 1236
351 of 1236
352 of 1236
353 of 1236
354 of 1236
355 of 1236
356 of 1236
357 of 1236
358 of 1236
359 of 1236
360 of 1236
361 of 1236
362 of 1236
363 of 1236
364 of 1236
365 of 1236
366 of 1236
367 of 1236
368 of 1236
369 of 1236
370 of 1236
371 of 1236
372 of 1236
373 of 1236
374 of 1236
375 of 1236
376 of 1236
377 of 1236
378 of 1236
379 of 1236
380 of 1236
381 of 1236
382 of 1236
383 of 1236
384 of 1236
385 of 1236
386 of 1236
387 of 1236
388 of 1236
389 of 1236
390 of 1236
391 of 1236
392 of 1236
393 of 1236
394 of 1236
395 of 1236
396 of 1236
397 of 1236
398 of 1236
399 of 1236
400 of 1236
401 of 1236
402 of 1236
403 of 1236
404 of 1236
405 of 1236
406 of 1236
407 of 1236
408 of 1236
409 of 1236
410 of 1236
411 of 1236
412 of 1236
413 of 1236
414 of 1236
415 of 1236
416 of 1236
417 of 1236
418 of 1236
419 of 1236
420 of 1236
421 of 1236
422 of 1236
423 of 1236
424 of 1236
425 of 1236
426 of 1236
427 of 1236
428 of 1236
429 of 1236
430 of 1236
431 of 1236
432 of 1236
433 of 1236
434 of 1236
435 of 1236
436 of 1236
437 of 1236
438 of 1236
439 of 1236
440 of 1236
441 of 1236
442 of 1236
443 of 1236
444 of 1236
445 of 1236
446 of 1236
447 of 1236
448 of 1236
449 of 1236
450 of 1236
451 of 1236
452 of 1236
453 of 1236
454 of 1236
455 of 1236
456 of 1236
457 of 1236
458 of 1236
459 of 1236
460 of 1236
461 of 1236
462 of 1236
463 of 1236
464 of 1236
465 of 1236
466 of 1236
467 of 1236
468 of 1236
469 of 1236
470 of 1236
471 of 1236
472 of 1236
473 of 1236
474 of 1236
475 of 1236
476 of 1236
477 of 1236
478 of 1236
479 of 1236
480 of 1236
481 of 1236
482 of 1236
483 of 1236
484 of 1236
485 of 1236
486 of 1236
487 of 1236
488 of 1236
489 of 1236
490 of 1236
491 of 1236
492 of 1236
493 of 1236
494 of 1236
495 of 1236
496 of 1236
497 of 1236
498 of 1236
499 of 1236
500 of 1236
501 of 1236
502 of 1236
503 of 1236
504 of 1236
505 of 1236
506 of 1236
507 of 1236
508 of 1236
509 of 1236
510 of 1236
511 of 1236
512 of 1236
513 of 1236
514 of 1236
515 of 1236
516 of 1236
517 of 1236
518 of 1236
519 of 1236
520 of 1236
521 of 1236
522 of 1236
523 of 1236
524 of 1236
525 of 1236
526 of 1236
527 of 1236
528 of 1236
529 of 1236
530 of 1236
531 of 1236
532 of 1236
533 of 1236
534 of 1236
535 of 1236
536 of 1236
537 of 1236
538 of 1236
539 of 1236
540 of 1236
541 of 1236
542 of 1236
543 of 1236
544 of 1236
545 of 1236
546 of 1236
547 of 1236
548 of 1236
549 of 1236
550 of 1236
551 of 1236
552 of 1236
553 of 1236
554 of 1236
555 of 1236
556 of 1236
557 of 1236
558 of 1236
559 of 1236
560 of 1236
561 of 1236
562 of 1236
563 of 1236
564 of 1236
565 of 1236
566 of 1236
567 of 1236
568 of 1236
569 of 1236
570 of 1236
571 of 1236
572 of 1236
573 of 1236
574 of 1236
575 of 1236
576 of 1236
577 of 1236
578 of 1236
579 of 1236
580 of 1236
581 of 1236
582 of 1236
583 of 1236
584 of 1236
585 of 1236
586 of 1236
587 of 1236
588 of 1236
589 of 1236
590 of 1236
591 of 1236
592 of 1236
593 of 1236
594 of 1236
595 of 1236
596 of 1236
597 of 1236
598 of 1236
599 of 1236
600 of 1236
601 of 1236
602 of 1236
603 of 1236
604 of 1236
605 of 1236
606 of 1236
607 of 1236
608 of 1236
609 of 1236
610 of 1236
611 of 1236
612 of 1236
613 of 1236
614 of 1236
615 of 1236
616 of 1236
617 of 1236
618 of 1236
619 of 1236
620 of 1236
621 of 1236
622 of 1236
623 of 1236
624 of 1236
625 of 1236
626 of 1236
627 of 1236
628 of 1236
629 of 1236
630 of 1236
631 of 1236
632 of 1236
633 of 1236
634 of 1236
635 of 1236
636 of 1236
637 of 1236
638 of 1236
639 of 1236
640 of 1236
641 of 1236
642 of 1236
643 of 1236
644 of 1236
645 of 1236
646 of 1236
647 of 1236
648 of 1236
649 of 1236
650 of 1236
651 of 1236
652 of 1236
653 of 1236
654 of 1236
655 of 1236
656 of 1236
657 of 1236
658 of 1236
659 of 1236
660 of 1236
661 of 1236
662 of 1236
663 of 1236
664 of 1236
665 of 1236
666 of 1236
667 of 1236
668 of 1236
669 of 1236
670 of 1236
671 of 1236
672 of 1236
673 of 1236
674 of 1236
675 of 1236
676 of 1236
677 of 1236
678 of 1236
679 of 1236
680 of 1236
681 of 1236
682 of 1236
683 of 1236
684 of 1236
685 of 1236
686 of 1236
687 of 1236
688 of 1236
689 of 1236
690 of 1236
691 of 1236
692 of 1236
693 of 1236
694 of 1236

695 of 1236
696 of 1236
697 of 1236
698 of 1236
699 of 1236
700 of 1236
701 of 1236
702 of 1236
703 of 1236
704 of 1236
705 of 1236
706 of 1236
707 of 1236
708 of 1236
709 of 1236
710 of 1236
711 of 1236
712 of 1236
713 of 1236
714 of 1236
715 of 1236
716 of 1236
717 of 1236
718 of 1236
719 of 1236
720 of 1236
721 of 1236
722 of 1236
723 of 1236
724 of 1236
725 of 1236
726 of 1236
727 of 1236
728 of 1236
729 of 1236
730 of 1236
731 of 1236
732 of 1236
733 of 1236
734 of 1236
735 of 1236
736 of 1236
737 of 1236
738 of 1236
739 of 1236
740 of 1236
741 of 1236
742 of 1236
743 of 1236
744 of 1236
745 of 1236
746 of 1236
747 of 1236
748 of 1236
749 of 1236
750 of 1236
751 of 1236
752 of 1236
753 of 1236
754 of 1236
755 of 1236
756 of 1236
757 of 1236
758 of 1236
759 of 1236
760 of 1236
761 of 1236
762 of 1236
763 of 1236
764 of 1236
765 of 1236
766 of 1236
767 of 1236
768 of 1236
769 of 1236
770 of 1236
771 of 1236
772 of 1236
773 of 1236
774 of 1236
775 of 1236
776 of 1236
777 of 1236
778 of 1236
779 of 1236
780 of 1236
781 of 1236
782 of 1236
783 of 1236
784 of 1236
785 of 1236
786 of 1236
787 of 1236
788 of 1236
789 of 1236
790 of 1236
791 of 1236
792 of 1236
793 of 1236
794 of 1236
795 of 1236
796 of 1236
797 of 1236
798 of 1236
799 of 1236
800 of 1236
801 of 1236
802 of 1236
803 of 1236
804 of 1236
805 of 1236
806 of 1236
807 of 1236
808 of 1236
809 of 1236
810 of 1236
811 of 1236
812 of 1236
813 of 1236
814 of 1236
815 of 1236
816 of 1236
817 of 1236
818 of 1236
819 of 1236
820 of 1236
821 of 1236
822 of 1236
823 of 1236
824 of 1236
825 of 1236
826 of 1236
827 of 1236
828 of 1236
829 of 1236
830 of 1236
831 of 1236
832 of 1236
833 of 1236
834 of 1236
835 of 1236
836 of 1236
837 of 1236
838 of 1236
839 of 1236
840 of 1236
841 of 1236
842 of 1236
843 of 1236
844 of 1236
845 of 1236
846 of 1236
847 of 1236
848 of 1236
849 of 1236
850 of 1236
851 of 1236
852 of 1236
853 of 1236
854 of 1236
855 of 1236
856 of 1236
857 of 1236
858 of 1236
859 of 1236
860 of 1236
861 of 1236
862 of 1236
863 of 1236
864 of 1236
865 of 1236
866 of 1236
867 of 1236
868 of 1236
869 of 1236
870 of 1236
871 of 1236
872 of 1236
873 of 1236
874 of 1236
875 of 1236
876 of 1236
877 of 1236
878 of 1236
879 of 1236
880 of 1236
881 of 1236
882 of 1236
883 of 1236
884 of 1236
885 of 1236
886 of 1236
887 of 1236
888 of 1236
889 of 1236
890 of 1236
891 of 1236
892 of 1236
893 of 1236
894 of 1236
895 of 1236
896 of 1236
897 of 1236
898 of 1236
899 of 1236
900 of 1236
901 of 1236
902 of 1236
903 of 1236
904 of 1236
905 of 1236
906 of 1236
907 of 1236
908 of 1236
909 of 1236
910 of 1236
911 of 1236
912 of 1236
913 of 1236
914 of 1236
915 of 1236
916 of 1236
917 of 1236
918 of 1236
919 of 1236
920 of 1236
921 of 1236
922 of 1236
923 of 1236
924 of 1236
925 of 1236
926 of 1236
927 of 1236
928 of 1236
929 of 1236
930 of 1236
931 of 1236
932 of 1236
933 of 1236
934 of 1236
935 of 1236
936 of 1236
937 of 1236
938 of 1236
939 of 1236
940 of 1236
941 of 1236
942 of 1236
943 of 1236
944 of 1236
945 of 1236
946 of 1236
947 of 1236
948 of 1236
949 of 1236
950 of 1236
951 of 1236
952 of 1236
953 of 1236
954 of 1236
955 of 1236
956 of 1236
957 of 1236
958 of 1236
959 of 1236
960 of 1236
961 of 1236
962 of 1236
963 of 1236
964 of 1236
965 of 1236
966 of 1236
967 of 1236
968 of 1236
969 of 1236
970 of 1236
971 of 1236
972 of 1236
973 of 1236
974 of 1236
975 of 1236
976 of 1236
977 of 1236
978 of 1236
979 of 1236
980 of 1236
981 of 1236
982 of 1236
983 of 1236
984 of 1236
985 of 1236
986 of 1236
987 of 1236
988 of 1236
989 of 1236
990 of 1236
991 of 1236
992 of 1236
993 of 1236
994 of 1236
995 of 1236
996 of 1236
997 of 1236
998 of 1236
999 of 1236
1000 of 1236
1001 of 1236
1002 of 1236
1003 of 1236
1004 of 1236
1005 of 1236
1006 of 1236
1007 of 1236
1008 of 1236
1009 of 1236
1010 of 1236
1011 of 1236
1012 of 1236
1013 of 1236
1014 of 1236
1015 of 1236
1016 of 1236
1017 of 1236
1018 of 1236
1019 of 1236
1020 of 1236
1021 of 1236
1022 of 1236
1023 of 1236
1024 of 1236
1025 of 1236
1026 of 1236
1027 of 1236
1028 of 1236
1029 of 1236
1030 of 1236
1031 of 1236
1032 of 1236
1033 of 1236
1034 of 1236
1035 of 1236
1036 of 1236
1037 of 1236
1038 of 1236
1039 of 1236
1040 of 1236
1041 of 1236
1042 of 1236
1043 of 1236
1044 of 1236
1045 of 1236
1046 of 1236
1047 of 1236
1048 of 1236
1049 of 1236
1050 of 1236
1051 of 1236
1052 of 1236
1053 of 1236
1054 of 1236
1055 of 1236
1056 of 1236
1057 of 1236
1058 of 1236
1059 of 1236
1060 of 1236
1061 of 1236
1062 of 1236
1063 of 1236
1064 of 1236
1065 of 1236
1066 of 1236
1067 of 1236
1068 of 1236
1069 of 1236
1070 of 1236
1071 of 1236
1072 of 1236
1073 of 1236
1074 of 1236
1075 of 1236
1076 of 1236
1077 of 1236
1078 of 1236
1079 of 1236
1080 of 1236
1081 of 1236
1082 of 1236
1083 of 1236
1084 of 1236
1085 of 1236
1086 of 1236
1087 of 1236
1088 of 1236
1089 of 1236
1090 of 1236
1091 of 1236
1092 of 1236
1093 of 1236
1094 of 1236
1095 of 1236
1096 of 1236
1097 of 1236
1098 of 1236
1099 of 1236
1100 of 1236
1101 of 1236
1102 of 1236
1103 of 1236
1104 of 1236
1105 of 1236
1106 of 1236
1107 of 1236
1108 of 1236
1109 of 1236
1110 of 1236
1111 of 1236
1112 of 1236
1113 of 1236
1114 of 1236
1115 of 1236
1116 of 1236
1117 of 1236
1118 of 1236
1119 of 1236
1120 of 1236
1121 of 1236
1122 of 1236
1123 of 1236
1124 of 1236
1125 of 1236
1126 of 1236
1127 of 1236
1128 of 1236
1129 of 1236
1130 of 1236
1131 of 1236
1132 of 1236
1133 of 1236
1134 of 1236
1135 of 1236
1136 of 1236
1137 of 1236
1138 of 1236
1139 of 1236
1140 of 1236
1141 of 1236
1142 of 1236
1143 of 1236
1144 of 1236
1145 of 1236
1146 of 1236
1147 of 1236
1148 of 1236
1149 of 1236
1150 of 1236
1151 of 1236
1152 of 1236
1153 of 1236
1154 of 1236
1155 of 1236
1156 of 1236
1157 of 1236
1158 of 1236
1159 of 1236
1160 of 1236
1161 of 1236
1162 of 1236
1163 of 1236
1164 of 1236
1165 of 1236
1166 of 1236
1167 of 1236
1168 of 1236
1169 of 1236
1170 of 1236
1171 of 1236
1172 of 1236
1173 of 1236
1174 of 1236
1175 of 1236
1176 of 1236
1177 of 1236
1178 of 1236
1179 of 1236
1180 of 1236
1181 of 1236
1182 of 1236
1183 of 1236
1184 of 1236
1185 of 1236
1186 of 1236
1187 of 1236
1188 of 1236
1189 of 1236
1190 of 1236
1191 of 1236
1192 of 1236
1193 of 1236
1194 of 1236
1195 of 1236
1196 of 1236
1197 of 1236
1198 of 1236
1199 of 1236
1200 of 1236
1201 of 1236
1202 of 1236
1203 of 1236
1204 of 1236
1205 of 1236
1206 of 1236
1207 of 1236
1208 of 1236
1209 of 1236
1210 of 1236
1211 of 1236
1212 of 1236
1213 of 1236
1214 of 1236
1215 of 1236
1216 of 1236
1217 of 1236
1218 of 1236
1219 of 1236
1220 of 1236
1221 of 1236
1222 of 1236
1223 of 1236
1224 of 1236
1225 of 1236
1226 of 1236
1227 of 1236
1228 of 1236
1229 of 1236
1230 of 1236
1231 of 1236
1232 of 1236
1233 of 1236
1234 of 1236
1235 of 1236
1236 of 1236

In [9]:
#add distances to the nearest subway to the citibike station dataframe
bike_stations_cleaned["distance to subway"] = distance_to_subway

<ipython-input-9-200d8f516dc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bike_stations_cleaned["distance to subway"] = distance_to_subway

In [30]:
bike_stations_cleaned.head(5)

,start station id,start station latitude,start station longitude,distance to subway
0,3160.0,40.778968,-73.973747,1002.045859
1,519.0,40.751873,-73.977706,240.335886
2,3171.0,40.785247,-73.976673,1017.691651
3,504.0,40.732219,-73.981656,461.137755
4,229.0,40.727434,-73.993790,603.613380

In [33]:
bike_stations_cleaned.to_csv("resources/citibike_stations.csv")

In [25]:
#for each subway station, loop through all citibike stations and determine the distance between the two.
#append that distance to a list, then find the min value to determine the distance to the clostest citibike station
#append that value to a list
distance_to_bike = []
for x in range(len(station_data)):
    sub_lat = station_data.iloc[x,9]
    sub_lon = station_data.iloc[x,10]
    sub_coord = (sub_lat, sub_lon)
    bike_distances = []
    for y in range(len(bike_stations_cleaned)):
        bike_lat = bike_stations_cleaned.iloc[y,1]
        bike_lon = bike_stations_cleaned.iloc[y,2]
        bike_coord = (bike_lat, bike_lon)
        bike_distance = (distance.distance(bike_coord, sub_coord).feet)
        bike_distances.append(bike_distance)
    distance_to_bike.append(min(bike_distances))
    print(f"{x+1} of {len(station_data)} ({sub_coord})")

1 of 496 ((40.775036, -73.91203399999999))
2 of 496 ((40.770258, -73.917843))
3 of 496 ((40.766779, -73.921479))
4 of 496 ((40.76182, -73.925508))
5 of 496 ((40.756803999999995, -73.929575))
6 of 496 ((40.752882, -73.932755))
7 of 496 ((40.76266, -73.967258))
8 of 496 ((40.764811, -73.973347))
9 of 496 ((40.764664, -73.98065799999999))
10 of 496 ((40.759901, -73.984139))
11 of 496 ((40.754672, -73.986754))
12 of 496 ((40.749567, -73.98795))
13 of 496 ((40.745494, -73.988691))
14 of 496 ((40.741303, -73.98934399999999))
15 of 496 ((40.735735999999996, -73.99056800000001))
16 of 496 ((40.730328, -73.99262900000001))
17 of 496 ((40.724329, -73.997702))
18 of 496 ((40.719527, -74.001775))
19 of 496 ((40.718383, -74.00046))
20 of 496 ((40.713282, -74.006978))
21 of 496 ((40.710668, -74.01102900000001))
22 of 496 ((40.70722, -74.01334200000001))
23 of 496 ((40.703087, -74.01299399999999))
24 of 496 ((40.6941, -73.991777))
25 of 496 ((40.69218, -73.98594200000001))
26 of 496 ((40.690635, -73.981824))
27 of 496 ((40.683665999999995, -73.97881))
28 of 496 ((40.677316, -73.98311))
29 of 496 ((40.670846999999995, -73.988302))
30 of 496 ((40.665414, -73.99287199999999))
31 of 496 ((40.660396999999996, -73.998091))
32 of 496 ((40.655144, -74.00354899999999))
33 of 496 ((40.648939, -74.010006))
34 of 496 ((40.645069, -74.014034))
35 of 496 ((40.641362, -74.017881))
36 of 496 ((40.634966999999996, -74.023377))
37 of 496 ((40.629742, -74.02551))
38 of 496 ((40.622687, -74.028398))
39 of 496 ((40.616622, -74.030876))
40 of 496 ((40.684459999999994, -73.97689))
41 of 496 ((40.67705, -73.972367))
42 of 496 ((40.661614, -73.962246))
43 of 496 ((40.655291999999996, -73.961495))
44 of 496 ((40.650527000000004, -73.962982))
45 of 496 ((40.644031, -73.964492))
46 of 496 ((40.640927000000005, -73.963891))
47 of 496 ((40.635082000000004, -73.962793))
48 of 496 ((40.62927, -73.961639))
49 of 496 ((40.625039, -73.960803))
50 of 496 ((40.617618, -73.959399))
51 of 496 ((40.608670000000004, -73.957734))
52 of 496 ((40.5993, -73.955929))
53 of 496 ((40.595246, -73.955161))
54 of 496 ((40.586896, -73.954155))
55 of 496 ((40.577621, -73.961376))
56 of 496 ((40.576312, -73.968501))
57 of 496 ((40.576127, -73.975939))
58 of 496 ((40.577422, -73.98123299999999))
59 of 496 ((40.646291999999995, -73.994324))
60 of 496 ((40.640914, -73.994304))
61 of 496 ((40.63626, -73.994791))
62 of 496 ((40.631434999999996, -73.995476))
63 of 496 ((40.626472, -73.996895))
64 of 496 ((40.619589000000005, -73.998864))
65 of 496 ((40.613501, -74.00061))
66 of 496 ((40.607954, -74.001736))
67 of 496 ((40.604556, -73.998168))
68 of 496 ((40.601875, -73.993728))
69 of 496 ((40.597704, -73.986829))
70 of 496 ((40.588840999999995, -73.983765))
71 of 496 ((40.635064, -74.011719))
72 of 496 ((40.631386, -74.005351))
73 of 496 ((40.624842, -73.996353))
74 of 496 ((40.620671, -73.990414))
75 of 496 ((40.61741, -73.985026))
76 of 496 ((40.611815, -73.981848))
77 of 496 ((40.603922999999995, -73.98035300000001))
78 of 496 ((40.597473, -73.979137))
79 of 496 ((40.592721000000004, -73.97823000000001))
80 of 496 ((40.700492, -73.828294))
81 of 496 ((40.697418, -73.836345))
82 of 496 ((40.695178000000006, -73.84433))
83 of 496 ((40.693878999999995, -73.851576))
84 of 496 ((40.692434999999996, -73.86001))
85 of 496 ((40.691324, -73.867139))
86 of 496 ((40.689941, -73.87255))
87 of 496 ((40.683194, -73.873785))
88 of 496 ((40.68141, -73.880039))
89 of 496 ((40.679947, -73.884639))
90 of 496 ((40.678024, -73.891688))
91 of 496 ((40.676992, -73.89865400000001))
92 of 496 ((40.679497999999995, -73.904512))
93 of 496 ((40.682893, -73.91045600000001))
94 of 496 ((40.686370000000004, -73.91655899999999))
95 of 496 ((40.68963, -73.92227))
96 of 496 ((40.693342, -73.928814))
97 of 496 ((40.697207, -73.93565699999999))
98 of 496 ((40.70026, -73.941126))
99 of 496 ((40.703869, -73.947408))
100 of 496 ((40.70687, -73.95343100000001))
101 of 496 ((40.708359, -73.957757))
102 of 496 ((40.718315000000004, -73.987437))
103 of 496 ((40.720279999999995, -73.993915))
104 of 496 ((40.718092, -73.999892))
105 of 496 ((40.713243, -74.003401))
106 of 496 ((40.710374, -74.007582))
107 of 496 ((40.706476, -74.01105600000001))
108 of 496 ((40.711396, -73.889601))
109 of 496 ((40.706185999999995, -73.895877))
110 of 496 ((40.704423, -73.903077))
111 of 496 ((40.702762, -73.90774))
112 of 496 ((40.69943, -73.912385))
113 of 496 ((40.698664, -73.91971099999999))
114 of 496 ((40.697857, -73.927397))
115 of 496 ((40.739777000000004, -74.002578))
116 of 496 ((40.737334999999995, -73.996786))
117 of 496 ((40.734789, -73.99073))
118 of 496 ((40.732849, -73.986122))
119 of 496 ((40.730953, -73.981628))
120 of 496 ((40.717304, -73.956872))
121 of 496 ((40.714063, -73.950275))
122 of 496 ((40.714565, -73.944053))
123 of 496 ((40.711926, -73.94067))
124 of 496 ((40.707739000000004, -73.93985))
125 of 496 ((40.706152, -73.93314699999999))
126 of 496 ((40.706607, -73.922913))
127 of 496 ((40.703811, -73.918425))
128 of 496 ((40.699814, -73.911586))
129 of 496 ((40.695602, -73.904084))
130 of 496 ((40.688764, -73.904046))
131 of 496 ((40.682829, -73.905249))
132 of 496 ((40.678856, -73.90324))
133 of 496 ((40.675345, -73.903097))
134 of 496 ((40.669367, -73.901975))
135 of 496 ((40.664038, -73.900571))
136 of 496 ((40.658733000000005, -73.899232))
137 of 496 ((40.650573, -73.899485))
138 of 496 ((40.646654, -73.90185))
139 of 496 ((40.680596, -73.955827))
140 of 496 ((40.674772, -73.957624))
141 of 496 ((40.670343, -73.959245))
142 of 496 ((40.868072, -73.919899))
143 of 496 ((40.865491, -73.92727099999999))
144 of 496 ((40.859021999999996, -73.93418))
145 of 496 ((40.851695, -73.937969))
146 of 496 ((40.847390999999995, -73.939704))
147 of 496 ((40.840719, -73.939561))
148 of 496 ((40.836013, -73.939892))
149 of 496 ((40.830518, -73.941514))
150 of 496 ((40.824783000000004, -73.944216))
151 of 496 ((40.824783000000004, -73.944216))
152 of 496 ((40.817894, -73.947649))
153 of 496 ((40.811109, -73.952343))
154 of 496 ((40.805085, -73.954882))
155 of 496 ((40.800603, -73.958161))
156 of 496 ((40.796092, -73.961454))
157 of 496 ((40.791641999999996, -73.96469599999999))
158 of 496 ((40.785868, -73.96891600000001))
159 of 496 ((40.781433, -73.972143))
160 of 496 ((40.775594, -73.97641))
161 of 496 ((40.768296, -73.981736))
162 of 496 ((40.762456, -73.985984))
163 of 496 ((40.757308, -73.989735))
164 of 496 ((40.752287, -73.993391))
165 of 496 ((40.745906, -73.998041))
166 of 496 ((40.740893, -74.00169))
167 of 496 ((40.732338, -74.000495))
168 of 496 ((40.732338, -74.000495))
169 of 496 ((40.726227, -74.003739))
170 of 496 ((40.720824, -74.005229))
171 of 496 ((40.714110999999995, -74.008585))
172 of 496 ((40.712582, -74.009781))
173 of 496 ((40.710196999999994, -74.00769100000001))
174 of 496 ((40.699337, -73.990531))
175 of 496 ((40.692338, -73.987342))
176 of 496 ((40.688484, -73.985001))
177 of 496 ((40.686113, -73.973946))
178 of 496 ((40.683263000000004, -73.965838))
179 of 496 ((40.68138, -73.956848))
180 of 496 ((40.680438, -73.95042600000001))
181 of 496 ((40.679921, -73.94085799999999))
182 of 496 ((40.679364, -73.930729))
183 of 496 ((40.678822, -73.92078599999999))
184 of 496 ((40.678340000000006, -73.911946))
185 of 496 ((40.678334, -73.905316))
186 of 496 ((40.674541999999995, -73.896548))
187 of 496 ((40.672709999999995, -73.89035799999999))
188 of 496 ((40.67413, -73.88075))
189 of 496 ((40.675377000000005, -73.872106))
190 of 496 ((40.677044, -73.86505))
191 of 496 ((40.679371, -73.858992))
192 of 496 ((40.679843, -73.85146999999999))
193 of 496 ((40.680429, -73.843853))
194 of 496 ((40.681711, -73.837683))
195 of 496 ((40.684331, -73.832163))
196 of 496 ((40.685951, -73.82579799999999))
197 of 496 ((40.672096999999994, -73.83591899999999))
198 of 496 ((40.668234000000005, -73.834058))
199 of 496 ((40.660476, -73.830301))
200 of 496 ((40.608382, -73.815925))
201 of 496 ((40.588034, -73.813641))
202 of 496 ((40.585307, -73.82055799999999))
203 of 496 ((40.583209000000004, -73.827559))
204 of 496 ((40.580903, -73.835592))
205 of 496 ((40.590927, -73.796924))
206 of 496 ((40.592374, -73.788522))
207 of 496 ((40.592943, -73.776013))
208 of 496 ((40.595397999999996, -73.768175))

209 of 496 ((40.600066, -73.761353))
210 of 496 ((40.603995, -73.75540500000001))
211 of 496 ((40.874811, -73.878855))
212 of 496 ((40.873244, -73.88713800000001))
213 of 496 ((40.866978, -73.893509))
214 of 496 ((40.861296, -73.897749))
215 of 496 ((40.856093, -73.900741))
216 of 496 ((40.85041, -73.905227))
217 of 496 ((40.8459, -73.910136))
218 of 496 ((40.839306, -73.9134))
219 of 496 ((40.833771, -73.91844))
220 of 496 ((40.827905, -73.925651))
221 of 496 ((40.830135, -73.938209))
222 of 496 ((40.754203000000004, -73.942836))
223 of 496 ((40.759145000000004, -73.95326))
224 of 496 ((40.764629, -73.966113))
225 of 496 ((40.763971999999995, -73.97745))
226 of 496 ((40.758663, -73.981329))
227 of 496 ((40.754222, -73.984569))
228 of 496 ((40.749719, -73.98782299999999))
229 of 496 ((40.742878000000005, -73.99282099999999))
230 of 496 ((40.738228, -73.996209))
231 of 496 ((40.725297, -73.996204))
232 of 496 ((40.718267, -73.993753))
233 of 496 ((40.723402, -73.989938))
234 of 496 ((40.718610999999996, -73.988114))
235 of 496 ((40.713715, -73.990173))
236 of 496 ((40.701397, -73.986751))
237 of 496 ((40.686145, -73.99086199999999))
238 of 496 ((40.680303, -73.995048))
239 of 496 ((40.67358, -73.995959))
240 of 496 ((40.670272, -73.989779))
241 of 496 ((40.666271, -73.980305))
242 of 496 ((40.660365000000006, -73.979493))
243 of 496 ((40.650782, -73.975776))
244 of 496 ((40.644040999999994, -73.979678))
245 of 496 ((40.636119, -73.978172))
246 of 496 ((40.629754999999996, -73.97697099999999))
247 of 496 ((40.625322, -73.976127))
248 of 496 ((40.620769, -73.975264))
249 of 496 ((40.615140000000004, -73.974197))
250 of 496 ((40.608944, -73.973022))
251 of 496 ((40.603217, -73.97236099999999))
252 of 496 ((40.596063, -73.973357))
253 of 496 ((40.589620000000004, -73.97425))
254 of 496 ((40.581011, -73.974574))
255 of 496 ((40.712646, -73.783817))
256 of 496 ((40.71047, -73.793604))
257 of 496 ((40.707564, -73.803326))
258 of 496 ((40.705459999999995, -73.81070799999999))
259 of 496 ((40.709179, -73.820574))
260 of 496 ((40.714441, -73.831008))
261 of 496 ((40.718331, -73.837324))
262 of 496 ((40.721691, -73.844521))
263 of 496 ((40.726523, -73.852719))
264 of 496 ((40.729846, -73.861604))
265 of 496 ((40.733106, -73.869229))
266 of 496 ((40.737015, -73.877223))
267 of 496 ((40.742453999999995, -73.882017))
268 of 496 ((40.746644, -73.891338))
269 of 496 ((40.749669, -73.898453))
270 of 496 ((40.752885, -73.906006))
271 of 496 ((40.756312, -73.913333))
272 of 496 ((40.756879, -73.92074000000001))
273 of 496 ((40.752039, -73.928781))
274 of 496 ((40.748973, -73.93724300000001))
275 of 496 ((40.747846, -73.946))
276 of 496 ((40.757552000000004, -73.96905500000001))
277 of 496 ((40.760166999999996, -73.975224))
278 of 496 ((40.762862, -73.981637))
279 of 496 ((40.702147, -73.801109))
280 of 496 ((40.700486, -73.807969))
281 of 496 ((40.702566, -73.816859))
282 of 496 ((40.746553999999996, -73.943832))
283 of 496 ((40.744065, -73.949724))
284 of 496 ((40.731352, -73.954449))
285 of 496 ((40.724635, -73.951277))
286 of 496 ((40.712792, -73.951418))
287 of 496 ((40.706092, -73.95030799999999))
288 of 496 ((40.700377, -73.950234))
289 of 496 ((40.694568, -73.949046))
290 of 496 ((40.689627, -73.95352199999999))
291 of 496 ((40.688873, -73.96007))
292 of 496 ((40.688089, -73.96683900000001))
293 of 496 ((40.687119, -73.975375))
294 of 496 ((40.889247999999995, -73.898583))
295 of 496 ((40.884667, -73.90087))
296 of 496 ((40.878856, -73.904834))
297 of 496 ((40.874561, -73.90983100000001))
298 of 496 ((40.869444, -73.915279))
299 of 496 ((40.864621, -73.91882199999999))
300 of 496 ((40.860531, -73.925536))
301 of 496 ((40.855225, -73.929412))
302 of 496 ((40.849505, -73.933596))
303 of 496 ((40.840556, -73.94013299999999))
304 of 496 ((40.834041, -73.94489))
305 of 496 ((40.826551, -73.95036))
306 of 496 ((40.822008000000004, -73.953676))
307 of 496 ((40.815581, -73.958372))
308 of 496 ((40.807722, -73.96410999999999))
309 of 496 ((40.803967, -73.966847))
310 of 496 ((40.799446, -73.968379))
311 of 496 ((40.793919, -73.972323))
312 of 496 ((40.788644, -73.976218))
313 of 496 ((40.783934, -73.979917))
314 of 496 ((40.778453000000006, -73.98196999999999))
315 of 496 ((40.77344, -73.982209))
316 of 496 ((40.768246999999995, -73.98192900000001))
317 of 496 ((40.761728000000005, -73.98384899999999))
318 of 496 ((40.75529, -73.987495))
319 of 496 ((40.750372999999996, -73.991057))
320 of 496 ((40.747215000000004, -73.993365))
321 of 496 ((40.744081, -73.995657))
322 of 496 ((40.741040000000005, -73.99787099999999))
323 of 496 ((40.737826, -74.000201))
324 of 496 ((40.733422, -74.00290600000001))
325 of 496 ((40.728251, -74.005367))
326 of 496 ((40.722854, -74.006277))
327 of 496 ((40.719318, -74.006886))
328 of 496 ((40.715478000000004, -74.009266))
329 of 496 ((40.711835, -74.012188))
330 of 496 ((40.707513, -74.01378299999999))
331 of 496 ((40.702068, -74.013664))
332 of 496 ((40.713051, -74.008811))
333 of 496 ((40.709416, -74.006571))
334 of 496 ((40.706821000000005, -74.0091))
335 of 496 ((40.697466, -73.993086))
336 of 496 ((40.693219, -73.989998))
337 of 496 ((40.690545, -73.985065))
338 of 496 ((40.688246, -73.980492))
339 of 496 ((40.684359, -73.977666))
340 of 496 ((40.680828999999996, -73.975098))
341 of 496 ((40.675235, -73.971046))
342 of 496 ((40.671987, -73.964375))
343 of 496 ((40.670682, -73.95813100000001))
344 of 496 ((40.669847, -73.950466))
345 of 496 ((40.669399, -73.942161))
346 of 496 ((40.668896999999994, -73.93294200000001))
347 of 496 ((40.664716999999996, -73.92260999999999))
348 of 496 ((40.661453, -73.916327))
349 of 496 ((40.662549, -73.908946))
350 of 496 ((40.663515000000004, -73.902447))
351 of 496 ((40.664635, -73.89489499999999))
352 of 496 ((40.665449, -73.889395))
353 of 496 ((40.666235, -73.884079))
354 of 496 ((40.667883, -73.950683))
355 of 496 ((40.662742, -73.95085))
356 of 496 ((40.656652, -73.9502))
357 of 496 ((40.650843, -73.949575))
358 of 496 ((40.645098, -73.948959))
359 of 496 ((40.639967, -73.948411))
360 of 496 ((40.632836, -73.947642))
361 of 496 ((40.852462, -73.828121))
362 of 496 ((40.84681, -73.83256899999999))
363 of 496 ((40.843863, -73.836322))
364 of 496 ((40.839892, -73.842952))
365 of 496 ((40.836488, -73.847036))
366 of 496 ((40.834255, -73.85122199999999))
367 of 496 ((40.833226, -73.860816))
368 of 496 ((40.831509000000004, -73.86761800000001))
369 of 496 ((40.829521, -73.874516))
370 of 496 ((40.828584, -73.879159))
371 of 496 ((40.826525, -73.88628299999999))
372 of 496 ((40.820948, -73.890549))
373 of 496 ((40.816103999999996, -73.896435))
374 of 496 ((40.812118, -73.904098))
375 of 496 ((40.808719, -73.907657))
376 of 496 ((40.805368, -73.91404200000001))
377 of 496 ((40.807565999999994, -73.91924))
378 of 496 ((40.810476, -73.926138))
379 of 496 ((40.886037, -73.878751))
380 of 496 ((40.87975, -73.88465500000001))
381 of 496 ((40.873412, -73.890064))
382 of 496 ((40.86776, -73.89717399999999))
383 of 496 ((40.862803, -73.901034))
384 of 496 ((40.858407, -73.903879))
385 of 496 ((40.853453, -73.907684))
386 of 496 ((40.84848, -73.911794))
387 of 496 ((40.844434, -73.91468499999999))
388 of 496 ((40.840075, -73.91779100000001))
389 of 496 ((40.835537, -73.9214))
390 of 496 ((40.827994, -73.925831))
391 of 496 ((40.818375, -73.927351))
392 of 496 ((40.813224, -73.929849))
393 of 496 ((40.804138, -73.93759399999999))
394 of 496 ((40.798629, -73.94161700000001))
395 of 496 ((40.79502, -73.94425))
396 of 496 ((40.7906, -73.947478))
397 of 496 ((40.785672, -73.95107))
398 of 496 ((40.779492, -73.955589))
399 of 496 ((40.77362, -73.959874))
400 of 496 ((40.768141, -73.96387))
401 of 496 ((40.762526, -73.967967))
402 of 496 ((40.757107, -73.97192))
403 of 496 ((40.751776, -73.976848))
404 of 496 ((40.746081, -73.982076))
405 of 496 ((40.74307, -73.984264))
406 of 496 ((40.739864000000004, -73.986599))
407 of 496 ((40.734673, -73.989951))
408 of 496 ((40.730053999999996, -73.99107))
409 of 496 ((40.725915, -73.994659))
410 of 496 ((40.722301, -73.997141))
411 of 496 ((40.718803, -74.00019300000001))
412 of 496 ((40.713065, -74.004131))
413 of 496 ((40.710368, -74.009509))
414 of 496 ((40.707557, -74.011862))

415 of 496 ((40.704817, -74.014065))
416 of 496 ((40.692403999999996, -73.990151))
417 of 496 ((40.903125, -73.85061999999999))
418 of 496 ((40.898379, -73.854376))
419 of 496 ((40.893193, -73.857473))
420 of 496 ((40.888022, -73.860341))
421 of 496 ((40.883895, -73.862633))
422 of 496 ((40.87785, -73.866256))
423 of 496 ((40.871356, -73.867164))
424 of 496 ((40.865462, -73.867352))
425 of 496 ((40.857192, -73.867615))
426 of 496 ((40.848828000000005, -73.86845699999999))
427 of 496 ((40.841894, -73.873488))
428 of 496 ((40.840295000000005, -73.880049))
429 of 496 ((40.837288, -73.887734))
430 of 496 ((40.829993, -73.891865))
431 of 496 ((40.824073, -73.893064))
432 of 496 ((40.822181, -73.896736))
433 of 496 ((40.819585, -73.90177))
434 of 496 ((40.81649, -73.90780699999999))
435 of 496 ((40.816109000000004, -73.917757))
436 of 496 ((40.81841, -73.92671800000001))
437 of 496 ((40.823879999999996, -73.93647))
438 of 496 ((40.820421, -73.936245))
439 of 496 ((40.814229, -73.94077))
440 of 496 ((40.807753999999996, -73.945495))
441 of 496 ((40.802098, -73.949625))
442 of 496 ((40.799075, -73.95182199999999))
443 of 496 ((40.8883, -73.830834))
444 of 496 ((40.878663, -73.83859100000001))
445 of 496 ((40.869526, -73.846384))
446 of 496 ((40.858985, -73.85535899999999))
447 of 496 ((40.854364000000004, -73.860495))
448 of 496 ((40.7596, -73.83003000000001))
449 of 496 ((40.754622, -73.845625))
450 of 496 ((40.75173, -73.855334))
451 of 496 ((40.749865, -73.8627))
452 of 496 ((40.749145, -73.869527))
453 of 496 ((40.748408000000005, -73.876613))
454 of 496 ((40.747659000000006, -73.883697))
455 of 496 ((40.746848, -73.89139399999999))
456 of 496 ((40.746325, -73.896403))
457 of 496 ((40.74563, -73.902984))
458 of 496 ((40.744149, -73.912549))
459 of 496 ((40.743132, -73.918435))
460 of 496 ((40.743781, -73.92401600000001))
461 of 496 ((40.744587, -73.93099699999999))
462 of 496 ((40.750582, -73.940202))
463 of 496 ((40.750582, -73.940202))
464 of 496 ((40.747023, -73.945264))
465 of 496 ((40.742216, -73.948916))
466 of 496 ((40.742626, -73.953581))
467 of 496 ((40.751431, -73.97604100000001))
468 of 496 ((40.753821, -73.98196300000001))
469 of 496 ((40.755477, -73.987691))
470 of 496 ((40.755983, -73.98622900000001))
471 of 496 ((40.752769, -73.979189))
472 of 496 ((40.755882, -74.00191))
473 of 496 ((40.784318, -73.947152))
474 of 496 ((40.777891, -73.951787))
475 of 496 ((40.768799, -73.958424))
476 of 496 ((40.643747999999995, -74.073643))
477 of 496 ((40.636949, -74.074835))
478 of 496 ((40.627915, -74.075162))
479 of 496 ((40.621319, -74.071402))
480 of 496 ((40.603117, -74.084087))
481 of 496 ((40.596612, -74.08736800000001))
482 of 496 ((40.588848999999996, -74.09609))
483 of 496 ((40.583591, -74.103338))
484 of 496 ((40.578965000000004, -74.10970400000001))
485 of 496 ((40.573479999999996, -74.11721))
486 of 496 ((40.56511, -74.12631999999999))
487 of 496 ((40.5564, -74.136907))
488 of 496 ((40.551231, -74.151399))
489 of 496 ((40.544601, -74.16457))
490 of 496 ((40.540459999999996, -74.178217))
491 of 496 ((40.533674, -74.19179399999999))
492 of 496 ((40.525507, -74.200064))
493 of 496 ((40.52241, -74.21784699999999))
494 of 496 ((40.519631, -74.229141))
495 of 496 ((40.512764000000004, -74.251961))
496 of 496 ((40.516578, -74.24209599999999))

In [27]:
station_data_new = station_data.copy()

In [28]:
#add distances to the nearest citibike to the subway station dataframe
station_data_new["Distance to Bike Station"] = distance_to_bike

In [32]:
station_data_new.head(5)

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes,Distance to Bike Station
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,170.318168
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,199.183685
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN,318.580062
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN,143.119239
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN,106.119821

In [35]:
station_data_new.to_csv("resources/subway_station_data.csv")